<a href="https://colab.research.google.com/github/karlmanalo/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

In [4]:
# Checking object type of df['created']

df['created']

0        2016-06-24 07:54:24
1        2016-06-12 12:19:27
2        2016-04-17 03:26:41
3        2016-04-18 02:22:02
4        2016-04-28 01:32:41
                ...
49347    2016-06-02 05:41:05
49348    2016-04-04 18:22:34
49349    2016-04-16 02:13:40
49350    2016-04-08 02:13:33
49351    2016-04-12 02:48:07
Name: created, Length: 48817, dtype: object

In [5]:
# Converting df['created'] to datetime format to filter by month

df['created'] = pd.to_datetime(df['created'])
df['created']

0       2016-06-24 07:54:24
1       2016-06-12 12:19:27
2       2016-04-17 03:26:41
3       2016-04-18 02:22:02
4       2016-04-28 01:32:41
                ...
49347   2016-06-02 05:41:05
49348   2016-04-04 18:22:34
49349   2016-04-16 02:13:40
49350   2016-04-08 02:13:33
49351   2016-04-12 02:48:07
Name: created, Length: 48817, dtype: datetime64[ns]

In [6]:
# Creating training dataset

train = df[(df['created'].dt.month == 4) | (df['created'].dt.month == 5)]
train.shape

(31844, 34)

In [7]:
# Creating test dataset

test = df[df['created'].dt.month == 6]
test.shape

(16973, 34)

In [8]:
# Making sure all data is captured in training and test datasets. 
# Should come out to 48817

test.shape[0] + train.shape[0]

48817

- [ ] Engineer at least two new features. (See below for explanation & ideas.)

In [0]:
# New column: Number of perks. This totally did not take hours.

df['number_of_perks'] = df.iloc[:,10:34].sum(axis=1)

In [10]:
# Checking how many descriptions have NaN values.

df['description'].isnull().sum()

1425

In [11]:
# The above is incorrect as we can see that the following code is empty but
# returns a string of whitespace.

df.iloc[1][3]

'        '

In [0]:
# Replacing descriptions that just have whitespace with NaN values.
# Need help understanding r'^\s*$' and regex. I assume r'^\s*$' is calling
# anything with only 2 or more spaces in the description but I am lost. Also not
# sure what regex=True does.

df['description'] = df['description'].replace(r'^\s*$', np.NaN, regex=True)

In [13]:
# This result looks more right.

df['description'].isnull().sum()

3288

In [0]:
# Defining new column: Has Description = 1, Doesn't Have Description = 0

df['has_description'] = (df['description'].isnull().map({False:1, True:0}))

In [0]:
# New column: Total rooms

df['total_rooms'] = df['bedrooms'] + df['bathrooms']

In [0]:
# New column: Bedrooms:Bathrooms

df['beds_to_baths'] = df['bedrooms']/df['bathrooms']

In [0]:
# New column: Total rooms:Bathrooms

df['total_to_baths'] = df['total_rooms']/df['bathrooms']

In [0]:
# New column: Has doorman and elevator

df['doorman_and_elev'] = ((df['doorman'] == 1) & (df['elevator'] == 1)).map({True:1, False:0})

In [0]:
# New column: Has fitness center and laundry in unit

df['fitness_and_laundry'] = ((df['laundry_in_unit'] == 1) & (df['fitness_center'] == 1)).map({True:1, False:0})

In [20]:
df.corr()

                      bathrooms  ...  fitness_and_laundry
bathrooms              1.000000  ...             0.167990
bedrooms               0.524082  ...             0.063736
latitude               0.013407  ...            -0.047756
longitude             -0.020099  ...            -0.138611
price                  0.687296  ...             0.206214
elevator               0.132882  ...             0.237310
cats_allowed           0.021475  ...             0.023136
hardwood_floors        0.096922  ...             0.241861
dogs_allowed           0.024539  ...             0.030649
doorman                0.157173  ...             0.313855
dishwasher             0.172230  ...             0.315547
no_fee                 0.129547  ...             0.230220
laundry_in_building   -0.013202  ...            -0.044321
fitness_center         0.148334  ...             0.481596
pre-war               -0.016214  ...            -0.027015
laundry_in_unit        0.209366  ...             0.631464
roof_deck              0.102113  ...             0.349316
outdoor_space          0.144450  ...             0.163297
dining_room            0.233038  ...             0.231092
high_speed_internet    0.089073  ...             0.329496
balcony                0.136990  ...             0.130246
swimming_pool          0.113315  ...             0.311135
new_construction       0.066826  ...             0.393336
terrace                0.140767  ...             0.134714
exclusive             -0.001944  ...            -0.060572
loft                   0.014260  ...             0.029565
garden_patio           0.096283  ...             0.129509
wheelchair_access      0.066940  ...             0.208233
common_outdoor_space  -0.003403  ...            -0.028349
number_of_perks        0.238312  ...             0.505160
has_description        0.034814  ...             0.063808
total_rooms            0.744468  ...             0.106010
beds_to_baths          0.012748  ...            -0.021930
total_to_baths         0.012748  ...            -0.021930
doorman_and_elev       0.152751  ...             0.313294
fitness_and_laundry    0.167990  ...             1.000000

[36 rows x 36 columns]

- [ ] Fit a linear regression model with at least two features.

In [0]:
# Re-instantiating train/test datasets after creating new features

train = df[(df['created'].dt.month == 4) | (df['created'].dt.month == 5)]
test = df[df['created'].dt.month == 6]

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model = LinearRegression()

In [0]:
features = ['bathrooms', 'bedrooms', 'doorman', 'laundry_in_unit']
target = ['price']

In [0]:
X_train = train[features]
y_train = train[target]

X_test = test[features]
y_test = test[target]

In [26]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
from sklearn.metrics import mean_absolute_error

y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error: ${mae:.2f}')

Train Error: $761.92

In [28]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'Test Error: ${mae:.2f}')

Test Error: $772.48

- [ ] Get the model's coefficients and intercept.

In [29]:
print('Intercept', model.intercept_[0])
coefficients = pd.Series(model.coef_[0], features)
print(coefficients.to_string())

Intercept 334.73930794813487
bathrooms          1823.683492
bedrooms            434.394449
doorman             690.340646
laundry_in_unit     480.306697

- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.

In [0]:
# Importing regression metrics, defining function to return regression metrics.

from sklearn.metrics import mean_squared_error, r2_score

def squared_errors(df, features, target):
  mse = mean_squared_error(df[target], y_pred)
  rmse = np.sqrt(mse)
  mae = mean_absolute_error(df[target], y_pred)
  r2 = r2_score(df[target], y_pred)
  print('Mean Squared Error:', mse)
  print('Root Mean Squared Error:', rmse)
  print('Mean Absolute Error:', mae)
  print('R^2:', r2)

In [0]:
# Re-instantiating y_pred as model predicting X_train

y_pred = model.predict(X_train)

In [47]:
squared_errors(train, features, target)

Mean Squared Error: 1358454.0861448655
Root Mean Squared Error: 1165.5273854117995
Mean Absolute Error: 761.9182489584003
R^2: 0.5624986342096916

In [0]:
# Re-instantiating y_pred as model predicting X_test

y_pred = model.predict(X_test)

In [49]:
squared_errors(test, features, target)

Mean Squared Error: 1340423.8295163002
Root Mean Squared Error: 1157.7667422742372
Mean Absolute Error: 772.4828326946163
R^2: 0.5687211527859187

- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!

Tried a lot of stuff above.